html{
  /* overflow: hidden; */

}
body{
  background: white;
  width: 100vw;
  /* width: 1440px; */
  /* height: 14844px; */
  display: block;
  margin: 0 auto;
  position: relative;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.main_page::before {
  content:"";
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  background: url('../images/1400.png');
  height: 100%;
  display: block;
  opacity: 0;
}
nav {
width: 100vw;
height: 113px;
display: flex;
flex-direction: row;
background-color: white;
filter: drop-shadow(4px 4px 10px #f6f6f6);
border-bottom: 1px solid #C4C4C4;
box-sizing: border-box;
justify-content: space-between;
padding-left: 80px;
padding-right: 80px;
align-items: center;
}
.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.menu_item, .exrept, .menu_item_ex{
  padding: 10px;
  height: 40px;
  border-right: 1px solid #C4C4C4;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  align-items: center;
  display: flex;
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
.number {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-left: 55px;
  white-space: nowrap;
}
.logo{
  width: 160px;
  height: 50px;
  background-image: url("../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}




/* якорные ссылки */
#n1{}
#n2{}
#n3{}
#n4{}
#n5{}
#n6{}
#n7{}

.adaptive_menu{
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_box{
width: 100vw;
height: auto;
z-index: 3;
position: inherit;
}
.first_box h1{
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  font-weight: 600;
  margin-top: 130px;
  margin-left: 20vw;
}
.first_box p {
  font-family: 'Poppins', sans-serif;
  width:450px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-left: 20vw;
  /* color: #2C54C5; */
}
.btn_podrobnee {
  width: 100px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  font-weight: 600;
}
.btn_podrobnee p {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #5D5D5D;
}
.btn_podrobnee .icon {
  width: 38px;
  height: 38px;
  background-image: url("../images/btn_podrobnee.svg");
}
.btn_more {
  width: 120px;
  height: 44px;
  background-image: url("../images/btn_more.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 80px;
  margin-top: 200px;
}
.stroke, .stroke_2 {
width: 100vw;
height: 260px;
background-image: url("../images/galaxy_stroke.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-top: 30px;
}
.stroke_2{
  margin-top: 50px;
}

.typo_comp {
  width: 700px;
  height: 500px;
  background-image: url("../images/typo_comp.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 170px auto;
  margin-bottom: 230px;
}


.wrapper {
  height: 300px;
  width: 100vw;
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  margin-bottom: 80px;
  display: flex;
  margin-top: 100px;
  /* flex-direction: row; */
}
.galaxy_big {
  width: 3550px;
  height:150px;
  background-image: url("../images/galaxy_big_row.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  vertical-align: middle;
  animation: row-move 33s linear infinite;
}
.galaxy_small {
  width: 3300px;
  height:50px;
  background-image: url("../images/galaxy_small_row.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 175px;
  vertical-align: middle;
  animation: row-move-reverse 33s linear infinite;
}

    @keyframes row-move {
      0% {right: -3550px;}
      100% {right: 100%;}
    }
    @keyframes row-move-reverse {
      0% {right: 100%;}
      100% {right: -3550px;}
    }
.stat {
  width: 930px;
  height: 780px;
  background-image: url("../images/stat.png");
  margin: 20px auto;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

}
.second {
  margin-top: 240px;
  margin-bottom: 50px;
}
.second  h1, .fourth h1, .six h1, .eight h1, .nine h1, .ex h1{
  font-family: 'Poppins', sans-serif;
  font-size: 72px;
  font-weight: 600;
  margin: 0 160px;
}
hr{
  color: #C4C4C4;
  width: 85vw;
  margin: 70px;

}
.second_box{
  display: flex;
  flex-direction: row;
  padding-left: 160px;
  padding-right: 160px;
}
.text_box h2{
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: 0 160px;
  margin-top: 30px;
}
.text_box .p_box  p {
  width: 600px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 170px;
  line-height: 1.5;
}
.p_box p:first-child  {
    margin-top: 80px;
}
.pattern {
  width: 500px;
  height: 650px;
  background-image: url("../images/circle_pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 35vw;
  height: 45vw;
}

.third {
  position: relative;
  /* z-index: 5; */
  width: 100vw;
  height: 100vw;
  /* background-image: url("../images/illustration_5.png"); */
  background-position: 0 - 300px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
  margin-top: 200px;
  overflow: hidden;
    box-sizing: border-box;
    margin-left: 0;
  /* opacity: .4; */
}

.rec_point {
  width: 15px;
  height: 15px;
  background-color: #1242E3;
  margin: 15px;
  z-index: 2;

}

.third_text_block{
  display: flex;
  flex-direction: row;
  z-index: 3;

}
.third_block {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
  margin: auto;
  /* margin-top: 300px; */
  z-index: 4;
  padding-top: 150px;
}
.third_block p{
  font-size: 18px;
  font-weight: 400;
  width: 550px;
  margin-left: 45px;
  margin-top: 30px;
  line-height: 1.5;
  z-index: 5;

}
.third_text_block h2{
  font-size: 48px;
  font-weight: 600;
  z-index: 6;
}

.anim_wrapper{
  width: 100vw;
  height: 100%;
  overflow:hidden;
overflow-y:hidden;  /*для вертикального*/
overflow-x:hidden;  /*для горизонтального*/
position: absolute;

}
.yellow_curve_1{
  width: 100vw;
  height: 100%;
  background-image: url("../images/yellow_curve_1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  /* margin-top: -160px; */
  /* overflow: hidden; */
}
.gray_square{
  width: 100vw;
  height: 100%;
  background-image: url("../images/gray_square.png");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  /* background-size: contain; */
  position: absolute;
  margin-top: -160px;
  animation: rotate 25s linear infinite alternate;
}
@keyframes rotate {
  0%{
    transform: rotate(-10deg);
  }
  100%{
    transform: rotate(30deg);
  }
}
.third .third_block:first-child {
  margin-top: 100px;
}

.gray_square{

}

.second_block {
  margin-left: 36%;
  /* margin-top: 130px; */
  z-index: 7;

}
.round_galaxy {
  width: 300px;
  height: 300px;
  background-image: url("../images/round_galaxy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: spin 10s linear infinite;
  position: relative;
  margin: auto;
  margin-top: 300px;
  z-index: 8;

}
@keyframes spin {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-360deg);
  }
}
@keyframes scale {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.2);
  }
}

.fourth{
  width: 100vw;
  height: auto;
  overflow: hidden;
}
.arrow_point {
  width: 77px;
  height: 77px;
  background-image: url("../images/arrow_point.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 50px;
  margin-top: 10px;
}
.fourth_block{
  position: absolute;
  margin: auto;
  display: flex;
  flex-direction: column;
    width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    margin-top: 120px;
}
.fourth_text_block{
  font-size: 48px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}
.fourth_block p {
  width: 270px;
  margin-left: 107px;
  margin-top: 30px;
}
.circles{
  animation: scale 5s infinite ease alternate;
}
.circles, .circles_2{
  width: 440px;
  height: 1050px;
  background-image: url("../images/circles.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position:absolute;
  /* top: 170px; */
  /* left: 960px; */
  right: 0;
  margin-top: 80px;
}
.circles_2 {
  width: 580px;
  height: 1100px;
  background-image: url("../images/circles_2.png");
  left: 0;
  margin-top: -400px;
}
/* желтый прямоугольник и его наполнение */
.yellow_rec {
  width: 722px;
  height: 482px;
  background-color: #FFDE7A;
  margin-top: 55px;
  margin-left: 8%;
  position: relative;
  padding-top: 70px;
  /* padding-left: 120px; */
  z-index: 1;

}
.yellow_rec hr {
  height: 1px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  width: 722px;
}
.yellow_rec h2, .trans_rec h2, .yellow_cicl h2, .second_block h2, .gray_circle h2{
  font-size: 48px;
  font-weight: 600;
  z-index: 6;
  margin-left: 120px;
  line-height: 1.2;
  /* margin-top: 70px; */
}
.yellow_rec p, .trans_rec p{
  margin-left: 120px;
  margin-top: 25px;
  line-height: 1.5;
  font-weight: 400;
  /* margin-top: 30px; */
}
.trans_rec p{
  width: 320px;

}

.white_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px white solid;
  position: absolute;
  top:76px;
  left:35px;
}
.repeat_2 p:first-child {
      margin-top: 60px;
}



/*прозрачный прямоугольник и его наполнение */

.trans_rec{
  width: 735px;
  height: 633px;
  border: 1px solid #5D5D5D;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  top: -80px;
  padding-top: 50px;
  margin-left: 40%;

}
.trans_rec hr{
  width: 100%;
  color:#5D5D5D;
  border: none;
  border-top: 1px solid  #5D5D5D;
  margin:0;
  margin-top: 40px;
  margin-bottom: 40px;
  /* margin-left: 0; */


}

#layer1, #layer2 {
    position: relative; /* Относительное позиционирование */
   }


   #layer1 { z-index: 1; }
   #layer2 { z-index: 2;
     top: -55px; /* Сдвигаем текст вверх */
      left: 5px; /* Сдвигаем текст вправо */ }
.yellow_cicl{
  width: 650px;
  height: 650px;
  background-color: #FFDE7A;
  border-radius: 50%;
  position: relative;
  margin: auto;
}
.yellow_cicl h2{
  /* position: absolute; */
  /* margin: auto; */
  /* margin-top: 30px; */
  /* top: 235px; */
  margin: auto;
  margin-top: 150px;
  position: relative;
  text-align: center;

}

.white_arrow_point{
  width:77px;
  height: 77px;
  background-image: url("../images/white_arrow_point.svg");
  margin: auto;
  top: 130px;
  position: relative;
  margin: auto;
}
.yellow_cicl p{
  top: 25px;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 25px;
}
.yellow_cicl p:first-child {
  position: relative;

  margin-top: 30px;
}






.fifth{
  width: 100vw;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.triangle_point {
  width: 90px;
  height: 90px;
  background-image: url("../images/triangle_point.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 15px;
  margin-top: 10px;
  animation: spin 40s infinite linear;
}
.square_point {
  width: 95px;
  height: 95px;
  background-image: url("../images/square_point.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: 10px;
      margin-left: -8px;
      animation: spin 40s infinite linear;
}

.fifth_block{
    width: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
}
.fifth_text_block{
  font-size: 48px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.fifth .fifth_block:first-child {
  margin-left: 17%;
    margin-top: 86px;
}
.fifth_block p {
  width: 270px;
  margin-left: 107px;
  margin-top: 22px;
 line-height: 1.5;
}

.second_block h2{
  /* margin-top: 40px; */
  margin-left: 0;
}
.second_block p{
  margin-left: 45px;
  margin-top: 22px;
}


.yellow_curve{
  width: 590px;
  height: 550px;
  /* background-image: url("../images/yellow_curve.png"); */
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position:absolute;
  right: 0;
  margin-top: 50px;
}
header{

height: 100vh;
background: #fcfafa;
position: relative;
}
.lines{
height: 100%;
width: 100%;
position: absolute;
}
svg{
  position: absolute;
  top: 50%;
  right: -5px;
  z-index: 0;
  }
  path {
    stroke-dasharray: 0 1000;
    animation: dash 5s linear infinite;
    animation-fill-mode: forwards;

      }

      @keyframes dash {
      	0% {
      		stroke-dasharray: 1300 0;
        }
      	45% {
      		stroke-dasharray:  0 1300;
          }
        55%{
      		stroke-dasharray:  0 1300;
          }
          100% {
            stroke-dasharray: 1300 0;
          }
          }




.repeat{
  margin-top: 105px;
  width: 605px;
  height: 502px;
  margin-left: 15%;
  padding-top: 50px;
}
.repeat p {
  width: 265px;
}
.repeat hr {
  width: 605px;
}
.repeat_2 {
  width: 530px;
  height: 530px;
  top: -86px;
  left: 90px;
}
.repeat_2 h2 {
  margin: 30px;
  text-align: center;
}
.six h1 {
  /* position: relative; */
  text-align: center;
  /* margin-top: 230px; */
}
.six hr {
  margin-bottom: 140px;
}
.clients_logo{
  width: 630px;
  height: 80px;
  background-image: url("../images/clients_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale();
  margin: auto;
}
.slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
}
.seven {
  width: 100vw;
  height: 700px;
  background-color: #2C54C5;
}
.slider_box{
  width: 100vw;
  height: 630px;
  margin: auto;
}

.slide {
  width: 100%;
  height: 700px;
  vertical-align: middle;
  display: flex;
  position: relative;
  flex-direction: row;

}
.video_item {
  width: 40vw;
  display: flex;
  margin: auto;
  margin-right: 10vw;
}

.text{
  width: 30vw;
  display: flex;
  margin: auto;
  margin-left: 10vw;
  line-height: 1.3;
  vertical-align: font-;
  font-weight: 600;
  color: white;
  margin-left: 10vw;
}
.slide_items{
  width: 100vw;
  height: 630px;
  display: flex;
  align-items: center;
}
audio{
  width: 30vw;
  display: flex;
  margin: auto;
  margin-right: 10vw;
}
.audio_block {
  display: flex;
  flex-direction: column;
  justify-content:
}
.audio_block audio:first-child {
  margin-bottom: 30px;
}

.video_block {
  width: 50vw;
  height: 300px;
  display: flex;
  flex-wrap: wrap;

}
.video_block video{
  width: 330px;
  height: 250px;
  margin: 10px;
}
.yellow_curve_2 {
  width: 630px;
  height: 370px;
  background-image: url("../images/yellow_curve_2.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
  right: 0;
  z-index: 1;
}
 .eight h1{
   text-align: center;
   margin-top: 210px;
   z-index: 5;
  position: relative;
 }
 .eight hr {
   margin-top: 100px;
   margin-bottom: 100px;
 }
 .eight p {
   width: 650px;
   text-align: center;
   font-size: 24px;
   line-height: 1.5;
   position: relative;
   margin: auto;
 }
 .logo_box{
   width: 85%;
   height: 300px;
   border: 1px solid #C4C4C4;
   border-right: none;
   border-left: none;
   margin: auto;
   margin-top: 105px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
  align-items: center;
 }
 .logo_item {
   width: 25%;
   height: 80%;
   /* height: 100%; */
   border-right: 1px solid #C4C4C4;
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;

 }
 .logo_box .logo_item:last-child {
   border: none;
 }
.emg_logo, .gpm_logo, .rmg_logo, .krutoy_logo {
  width: 110px;
  height: 45px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale();
  position: absolute;

}
.emg_logo{
  background-image: url("../images/emg_logo.png");
  top: 10px;
  position: absolute;

}
 .gpm_logo {
   background-image: url("../images/gpm_logo.png");
   height: 70px;
 }
 .rmg_logo {
   background-image: url("../images/rmg_logo.png");
   width: 110px;
   background-size: contain;
   height: 55px;
   top: 10px;
   position: absolute;

 }
 .krutoy_logo {
   background-image: url("../images/krutoy_logo.png");
   height: 90px;
 }
 .logo_item p {
   text-align: center;
   position: absolute;
  top: 120px;
  color: #5D5D5D;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  margin-left: 0;
  margin-top: 0;
 }

.nine {
margin-top: 200px;
}
.nine_box{
  display: flex;
  flex-direction: row;
}
.nine_box h1 {
  margin-right: 0;
}
.nine_box hr{
  margin-left: 2%;
  margin-right: 5.5%;
  margin-bottom: 0;
}
.invite {
  margin-left: 170px;
  margin-top: 10px;
}
.contact_item {
  font-size: 24px;
  font-weight: 600;
}
.c_point {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;

}
.contact {
  font-size: 48px;
  color: #5D5D5D;
  font-weight: 100;
  font-size: "Poppins", sans-serif;
}

.contact_box{
   margin-top: 100px;
}
.nine_block{
  display: flex;
  flex-direction: row;

}
.illustration_6{
  width: 320px;
  height: 320px;
  background-image: url("../images/illustration_6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 12%;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form{
  width: 510px;
  height: 45px;
}
.row input {
  /* width: 17%; */
  width: 47%;

}
input{
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  font-family: "Poppins";
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px
}
textarea {
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  font-family: "Poppins";
  height: 35px;
  margin-top: 20px;
  margin-bottom: 10px
  width: 510px;
  height: 200px;
}

.illustration_1{
  width: 770px;
  height: 570px;
  background-image: url("../images/illustration_1.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 140%;
  position:absolute;
  /* top: 170px; */
  /* left: 960px; */
  right: 0;
  /* margin-top: 80px;  */
}
.main_anim {
  width: 770px;
    height: 570px;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 140%;
    position: absolute;
    right: 0;
    position: absolute;
    right: -30vw;
    top: -490px;
}
ul{
  list-style: disc;
  width: 60vw;
  margin: 0;
  position: absolute;
  margin: auto;
  top: 15vw;
  z-index: 4;
  margin-left: 20vw;
  line-height: 1.2;
}
li{
  margin-bottom: 20px;
}
.gray {
  width: 100vw;
  height: 80vw;
  /* position: relative; */
  background-image: url(../images/gray_square.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;

}
.ex_stat {
  width: 80vw;
  height: 40vw;
  background-image: url("../images/ex_stat.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: auto;


}
.present{
  width: 80vw;
  height: 70vw;
  background-image: url("../images/ex_stat_2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  margin: auto;
}
.yellow_rec_ex{

  background-color: #FFDE7A;
  margin: auto;
  width: 1px;
  min-width: 750px;
  max-width: 900px;
  height: 1px;
  min-height: 800px;
  max-height: 4000px;
  top: 0;
  padding-top: 0;
}
.yellow_rec_ex h2{
  font-size: 48px;
  font-weight: 600;
  z-index: 6;
  margin-left: 30px;
  line-height: 1.2;
  padding-top: 30px;
  /* margin-top: 70px; */
}
.yellow_rec_ex p{
  margin-left: 30px;
  margin-top: 25px;
  line-height: 1.5;
  font-weight: 400;
  width: 90%;
  /* margin-top: 30px; */
}
.yellow_rec_ex hr {
  height: 1px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
}
.ex p {
  width: 90%;
}
.gray_circle h2{
  margin: auto;
  margin-top: 150px;
  position: relative;
  text-align: center;
}
.gray_circle p {
  top: 25px;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 25px;
  width: 90%;
}
.gray_cicl p:first-child {
  position: relative;
  margin-top: 30px;
}
.gray_circle{
  width: 450px;
  height: 450px;
  border-radius: 50%;
  border: 1px #c4c4c4 solid;
  position: relative;
  margin: auto;
  top: -140px;
  margin-right: 15vw;

}
.ex h1 {
margin-top: 150px;
}
.yellow_cicl.ex {
  margin-left: 15vw;
}
.second ~ .ex {
      margin-top: 0;
}
.third.ex {
  margin-top: 0;
  height: 0;
  min-height: 800px;
  max-height: 900px;
}
.ex_svg {
  top: 0;
}
.third h2 {
  font-size: 48px;
  font-weight: 600;
  z-index: 6;
  margin-left: 120px;
  line-height: 1.2;
}



.trans_rec ul {
  width: 90%;
  margin-left: 30px;
  margin-top: 80px;
}

.trans_rec.ex {
margin: auto;
width: 1px;
min-width: 750px;
max-width: 900px;
height: 1px;
min-height: 1050px;
max-height: 4000px;
top: 0;
padding-top: 0;
}
.trans_rec ul li {
  margin-left: 30px;
}
.trans_rec.ex h2 {
  margin-left: 30px;
  margin-top: 15px;
}
.third_ex {
  margin-top: 70px;
  height: 0;
  min-height: 1000px;
  max-height: 2000px;
}
p span {
  font-weight: 600;
}

.second.ex {
  margin-top: 150px;
  margin-bottom: 0;
}
/* .third.ex:first{
  margin-top: -200px;
} */
.third.ex.r_1{
  margin-top: -200px;

}
.third.ex.r_1 ul {
  margin-top: 30px;
}
